body {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: var(--light-blue);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 350px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

input {
  width: 100%;
  margin-bottom: 15px;
}
